@import url(global.css);

.banner {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}

.banner h1 {
    width: 100%;
    text-align: center;
    font-size: 10rem;
    margin: 0px 0px 5px 0px;
    color: var(--Black);
}

.banner p {
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0px 0px 50px 0px;
}

.story {
    max-width: 100%;
    margin: 75px 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.story h1 {
    font-size: 5rem;
    color: var(--Black);
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.story h2 {
    font-size: 2.5rem;
    color: var(--Black);
    margin-bottom: 10px;
}

.story p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3.5rem;
    color: var(--Black);
    margin-bottom: 30px;
}

.story a {
    text-align: justify;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    line-height: 3.5rem;
    color: var(--Orange);
}

.story .list {
    margin-bottom: 30px;
}

.story .item {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3.5rem;
    color: var(--Black);
    margin-left: 20px;
}