@import url(./global.css);

.banner {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.frases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.frases h1 {
    font-size: 10rem;
    font-weight: semibold;
    margin-bottom: 5px;
}

.segfrase {
    width: 75%;
    font-size: 2.5rem;
    padding-bottom: 5px;
    font-weight: regular;
}

.button-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/*Exchange cards*/

.card {
    max-width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    gap: 200px;
}

.instruction {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.instruction p {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

.instruction h2 {
    color: var(--Orange);
    font-size: 4rem;
    margin-bottom: 25px;
}

.animation {
    width: 500px;
    z-index: 1;
}

.card button {
    width: 100%;
    margin-top: 25px;
    font-size: 1.8rem;
    font-weight: bold;
}

/*Black Card section*/

.black-card {
    background-color: var(--Black);
}

.black-card .instruction h3 {
    color: var(--LightGray);
}

.black-card .instruction p {
    color: var(--White);
}

.black-card img, .cta-button-filled:hover {
    box-shadow: 0px 0px 10px rgba(234, 234, 234, 0.45);
}

/*White Card section*/

.white-card .instruction h3 {
    color: var(--DarkGray);
}

.white-card .instruction p {
    color: var(--Black);
}

/*Animação de entrada*/

/*Estado inicial*/
.black-card .animation {
    opacity: 0;
    transform: translate(-100px);
    transition: 1s;
}

.black-card .instruction {
    opacity: 0;
    transform: translate(-100px);
    transition: 1s;
}

/*Estado final*/
.black-card.show .animation {
    opacity: 1;
    transform: translate(0);
}

.black-card.show .instruction {
    opacity: 1;
    transform: translate(0);
}

/*Animação de entrada*/

/*Estado inicial*/
.white-card .animation, .white-card img {
    opacity: 0;
    transform: translate(100px);
    transition: 1s;
}

.white-card .instruction {
    opacity: 0;
    transform: translate(100px);
    transition: 1s;
}

/*Estado final*/
.white-card.show .animation, .white-card.show img {
    opacity: 1;
    transform: translate(0);
}

.white-card.show .instruction {
    opacity: 1;
    transform: translate(0);
}