@import url(./global.css);

section {
    height: 500px;
    width: 100vw;
}

/*Banner Style*/
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    width: 100%;
    text-align: center;
    font-size: 10rem;
    margin: 0px 0px 5px 0px;
}

.banner p {
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0px 0px 50px 0px;
}

.button-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.link-button {
    text-decoration: none;
}

.banner-button {
    border: 2px solid var(--DarkGray);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: var(--White);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--DarkGray);
    transition: 300ms;
}

.banner-button:hover {
    background-color: var(--Orange);
    color: var(--White);
    border: 2px solid var(--Orange);
}

.banner-button:hover img, .banner-button:focus img{
    filter:brightness(0) invert(1);
    transition: 300ms;
}

.banner-button:focus,
.banner-button:active {
    border: 2px solid var(--Orange);
    background-color: var(--Orange);
    color: var(--White);
}

/*Seção com nenhuma carteira selecionada*/

.none-wallet {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.none-wallet h3 {
    font-size: 3.5rem;
    color: var(--Black);
}

.none-wallet p {
    font-size: 1.6rem;
}

.none-wallet img {
    height: 200px;
    opacity: 50%;
    margin-top: 25px;
}

/*Seções das carteiras*/

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
    opacity: 0.7;
}

.divider p {
    font-size: 2rem;
    margin: 0px 100px;
    color: var(--DarkGray);
    font-weight: bold;
}

.divider hr {
    height: 0px ;
    width: 33%;
    max-width: 700px;
    border-color: var(--DarkGray);
}

.os-wallets {
    width: 100%;
    height: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center ;    
}

.wallets-container {
    max-width: 100%;
    padding: 0px 150px;
    padding-bottom: 50px;
}

.wallet-card {
    max-width: 100%;
    height: 300px;
    background-color: var(--LightGray);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 25px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 50px;
}

.wallet-logo {
    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;
}

.geral-infos {
    width: 100%;
    padding: 0px 25px;
    display: flex;
    gap: 30px;
}

.geral-infos h3 {
    font-size: 3rem;
    color: var(--Orange);
}

.geral-infos h4 {
    font-size: 1.8rem;
    color: var(--Black);
    margin-bottom: 5px;
}

.geral-infos p, .geral-infos li {
    font-size: 1.6rem;
}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-left: 25px;
}

.infos ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;
}

.adc-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.documentation-button, .wallet-site-button {
    border: 1px solid var(--Black);
    background-color: var(--White);
    border-radius: 5px;
    min-width: 172px;
    min-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
    position: relative;
    transition:300ms;
}

.documentation-button p, .wallet-site-button p {
    font-size: 1.6rem;
    transition: 300ms;
}

.documentation-button .icon, .wallet-site-button .icon {
    opacity: 0;
    position: absolute;
    right: 10px;
    height: 25px;
    transition: 300ms;
    transform: translateX(10px);
}

.documentation-button:hover, .wallet-site-button:hover {
    border: 1px solid var(--Orange);
    background-color: var(--Orange);
}

.wallet-site-button:hover p {
    transform: translateX(-12px);
    color: var(--White);
    font-weight: bold;
}

.wallet-site-button:hover .icon {
    opacity: 1;
    transform: translateX(-10px);
}

.documentation-button:hover p {
    transform: translateX(-15px);
    color: var(--White);
    font-weight: bold;
}

.documentation-button:hover .icon {
    opacity: 1;
    transform: translateX(0);
}

.free{
    background-color: #cbf5dd;
    border: 1px solid var(--Green);
    border-radius: 5px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--Green);
}

.free img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(57%) saturate(7327%) hue-rotate(74deg) brightness(87%) contrast(108%);
}

.paid {
    background-color: #ffebc4;
    border: 1px solid var(--Orange);
    border-radius: 5px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--Orange);
}

.paid img {
    filter: brightness(0) saturate(100%) invert(51%) sepia(36%) saturate(3490%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

.free p, .paid p {
    font-size: 1.6rem;
    font-weight: bold;
}